workflow_processing.json
{
  "name": "Case 39A - Processamento de Dados",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Calculo de médias e outliers utilizando transformação logaritmica + IQR. A escolha foi feita devido a alta assimetria do dataset (muitos valores altos)\nWITH avg_consumo AS (\n    SELECT\n        c.id,\n        c.nome,\n        AVG(l.valor_kwh) AS media_consumo\n    FROM clientes c\n    JOIN contratos ct ON c.id = ct.cliente_id\n    JOIN leituras l ON ct.id = l.contrato_id\n    WHERE ct.ativo = TRUE\n      AND l.data_leitura >= CURRENT_DATE - INTERVAL '3 months'\n    GROUP BY c.id, c.nome\n),\nlog_consumo AS (\n    SELECT\n        *,\n        LN(media_consumo) AS log_media_consumo\n    FROM avg_consumo\n),\nquartis AS (\n    SELECT\n        PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY log_media_consumo) AS q1,\n        PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY log_media_consumo) AS q3\n    FROM log_consumo\n),\nlimites AS (\n    SELECT\n        q1,\n        q3,\n        (q3 - q1) AS iqr,\n        EXP(q1 - 1.5 * (q3 - q1)) AS limite_inferior,  -- volta para escala original\n        EXP(q3 + 1.5 * (q3 - q1)) AS limite_superior   -- volta para escala original\n    FROM quartis\n)\nSELECT\n    lc.nome,\n    ROUND(lc.media_consumo, 2) AS media_consumo,\n    CASE\n        WHEN lc.media_consumo > l.limite_superior THEN 'outlier_alto'\n        WHEN lc.media_consumo < l.limite_inferior THEN 'outlier_baixo'\n        ELSE 'normal'\n    END AS status\nFROM log_consumo lc\nCROSS JOIN limites l\nORDER BY lc.nome;\n\n",
        "additionalFields": {}
      },
      "id": "e6a9cddd-ca03-4622-b2d7-15ba4aa0510a",
      "name": "Postgres Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2784,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "7UawrySeNkZcMXeW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "messages",
              "value": "={{ [\n  {\"role\": \"system\", \"content\": \"Você é um analista de dados de energia. Analise os dados de todos os clientes fornecidos, focando em padrões e nos outliers encontrados. Gere um relatório executivo com exatamente 2 parágrafos em markdown sobre todo o conjunto de dados.\"}, \n  {\"role\": \"user\", \"content\": JSON.stringify($(\"Postgres Query\").all().map(i => i.json))}\n] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "49265d15-f112-40e2-83ec-f909badd5533",
      "name": "OpenAI LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3008,
        -144
      ],
      "credentials": {
        "openAiApi": {
          "id": "gYURz7BsznkqtZHl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "path": "processar-dados",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "58655181-ef47-47f4-91ca-aef1d9f04657",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        2560,
        -144
      ],
      "webhookId": "f2cb0f61-8958-471c-86d8-68791d1119d9"
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"clientes\": $(\"Postgres Query\").all().map(i => i.json),\n  \"relatorio_final\": $json.choices && $json.choices[0] && $json.choices[0].message\n    ? $json.choices[0].message.content\n    : \"Sem relatório\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3232,
        -144
      ],
      "id": "a34ad981-78e8-4ba4-97db-4470ee48dcad",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3456,
        -144
      ],
      "id": "c8eda5b9-793c-438b-aea0-9efb4e37e021",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3680,
        -144
      ],
      "id": "1a8f46a6-86fe-4784-8202-b594f6e9ff65",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Query": {
      "main": [
        [
          {
            "node": "OpenAI LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI LLM": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b6e0d3bf-bd91-4a08-86e2-eaca3740442b",
  "meta": {
    "instanceId": "809b170c5753efa82ef4fbdd7f69eb25703413a2e3085f1835ef4706e6434381"
  },
  "id": "5fZr7dgxtwl08BXwuSAWR",
  "tags": []
}